<header class="bg-[#061726] flex h-[70px] px-7 sticky top-0 left-0 z-50 justify-between items-center">
    <div class="flex items-center gap-7">
        <img src="/icons/bugger.svg" alt="">
        <img src="/icons/Rumble.svg" alt="">
    </div>
    <form class="hidden md:flex bg-[#1f2e36] focus-within:border focus-within:border-[#d6e0ea] w-[40%] text-white text-sm item-center px-3 rounded-xl">
        <input type="text" placeholder="search" class="flex-1 outline-none bg-transparent">
        <button class="p-2 w-[35px] h-[35px]" >
            <img src="/icons/Search.svg" alt="">
        </button>
    </form>
    <div>
        <button class="md:hidden p-2 w-[35px] h-[35px]">
            <img src="/icons/Search.svg" alt="">
        </button>
    </div>
</header>