<nav class="w-[80px] text-[#f3f5f8] bg-[#1a2a37] h-screen fixed top-[70px] left-0 lg:block" >
    <div class="gap-2">
    <a href="/" class="flex py-2.5 hover:bg-[#1f2e3c] gap-2 items-center flex-col">
        <img src="/icons/homeIcon.svg" class="h-6 w-6 " alt="">
        <span class="capitalize text-[10px]">home</span>
    </a>
    <a href="/" class="flex py-2.5 hover:bg-[#1f2e3c] gap-2 items-center flex-col">
        <img src="/icons/latestIcon.svg" class="h-6 w-6 " alt="">
        <span class="capitalize text-[10px]">latest</span>
    </a>
    <a href="/" class="flex py-2.5 hover:bg-[#1f2e3c] gap-2 items-center flex-col">
        <img src="/icons/picksIcon.svg" class="h-6 w-6 " alt="">
        <span class="capitalize text-[10px]">picks</span>
    </a>
    <a href="/" class="flex py-2.5 hover:bg-[#1f2e3c] gap-2 items-center flex-col">
        <img src="/icons/trendingIcon.svg" class="h-6 w-6 " alt="">
        <span class="capitalize text-[10px]">trends</span>
    </a>
    </div>
</nav>